<li>
  <span class="strengths"><%= feedback.strengths %></span>
  <span class="weaknesses"><%= feedback.weaknesses %></span>
  <span class="recommendations"><%= feedback.recommendations %></span>
  <span class="rating">Rating : <%= feedback.rating %></span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(feedback.created_at) %> ago.
  </span>
</li>